//Navbar
div
    nav.navbar.navbar-expand-lg.bg-green.fixed-top.navbar-transparent(color-on-scroll='400')
        .container
            .dropdown.button-dropdown
                a#navbarDropdown.dropdown-toggle(href='#' data-toggle='dropdown')
                    span.button-bar
                    span.button-bar
                    span.button-bar
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-header Paginas Oficiales
                    .dropdown-divider
                    a.dropdown-item(href='https://ar.salvat.com/') Salvat Argentina
                    a.dropdown-item(href='https://www.facebook.com/GrandesNovelasSalvatArg') Facebook Salvat
                    a.dropdown-item(href='https://ar.salvat.com/colecciones/grandes-novelas-aventuras/index.html#obra') Obra Editorial
            .navbar-translate.align-items-center
                a.navbar-brand(href='https://ar.salvat.com/colecciones/grandes-novelas-aventuras/index.html#obra' rel='tooltip' title='Una pagina donde podes seguir tus colecciones favoritas' data-placement='bottom' target='_blank')
                    h6.h6-reponsive.Comfortaa-font.mt-3.font-weight-light="Collection Tracker"
            #navigation.collapse.navbar-collapse.justify-content-end(data-nav-image='')
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(rel='tooltip' title='Facebook de Salvat' data-placement='bottom' href='https://www.facebook.com/GrandesNovelasSalvatArg' target='_blank')
                            i.fab.fa-facebook-square
                            p.d-lg-none.d-xl-none Facebook
//end navbar
